<div class="container my-3 slider-updown">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-sm-11 col-lg-8 bg-white rounded border shadow-sm">
            <h3 class="text-center font-weight-bold my-4">SOAP: WEB SERVICE</h3>
            <hr>
            <p class="text-justify">
                Página Web que presenta los metodos solicitados por el trabajo 1 de Redes y Comunicación de Datos a traves de SOAP.
                Estos servicios fueron desarrollados tanto en el lenguaje Java para el servidor y ASP.NET MVC para el cliente.
                En la pestaña "Validar Digito Verificador" se podra ingresar un RUT sin puntos y con guión para verificar si es valido o no.
                En la pestaña "Split Nombre Propio" se podra ingresar un nombre completo con el orden (Nombres - Apellido Paterno - Apellido Materno) y lo devuelve en estructura jerarquica.
            </p>
            <p>Miembros:</p>
            <div class="d-flex justify-content-center">
                <ul class="list-group list-group-horizontal-md">
                    <li class="list-group-item px-1">Jose Hervas</li>
                    <li class="list-group-item px-1">Virla Parra</li>
                    <li class="list-group-item px-1">Matias Rubilar</li>
                    <li class="list-group-item px-1">Lukas Poffal</li>
                    <li class="list-group-item px-1">Roberto Castillo</li>
                    <li class="list-group-item px-1">Nicolas Rojas</li>
                </ul>
            </div>
            <p>
            </p>
        </div>
    </div>
</div>
<br>