
@model SoapClient.Models.SoapRut
@{
    ViewBag.Title = "Validar Digito Verificador";
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="text-center text-secondary font-weight-bold my-4"> @Model.Rut </h1>
